.header {
    background-color: rgb(37, 37, 37);
    /* border-bottom: 1px solid pink; */
    display: block;
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.header-front {
    background: transparent;
    display: -webkit-flex;
    display: flex;
    max-width: 800px;
    min-width: 200px;
    height: 100% inherit;
    margin: 0px auto auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.header-stuff {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.quq-logo {
    width: 70px;
    height: auto;
    cursor: pointer;
}

.menu-symbol {
    display: none;
}


.selector {
    display: block;
    width: 300px;
    -webkit-transition: height 700ms;
    transition: height 700ms;
}

.selector-front {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.selector-front::-webkit-scrollbar {
    display: none;
}

.selector-stuff {
    border: 2.7px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image:
        linear-gradient(to right, rgb(20, 20, 20), rgb(20, 20, 20)),
        linear-gradient(90deg, #b88bec, #5087f5);
    border-radius: 15px;
    color: white;
    padding: 0px 7px 2px 7px;
    font-family: 'VT323', monospace;
    font-size: 20px;
    text-align: center;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

@media screen and (max-width: 412px) {
    .header-front {
        flex-direction: column;
    }

    .menu-symbol {
        display: block;
        background-color: pink;
        background-clip: content-box;
        border-top: 5px solid pink;
        border-bottom: 5px solid pink;
        width: 35px;
        height: 6.5px;
        padding-left: 0px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 0px;
    }

    .selector {
        display: block;
        width: 100%;
        -webkit-transition: height 600ms;
        transition: height 600ms;
        align-self: center;
    }

    .selector-front {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
    }

    .selector-stuff {
        background: transparent;
        color: rgba(0, 0, 0, 0);
        margin: 10px 0px 0px 0px;
    }

    .eu {
        height: 190px;
        /* animation: growDown 700ms ease-in-out forwards;
        transform-origin: top center; */
        visibility: visible;
    }

    .eu > .selector-front > div.selector-stuff {
        color: rgb(255, 255, 255);
        font-size: 23px;
        transition:
            color 900ms,
            font-size 400ms;
    }

    .ru {
        height: 0px;
        transition: all 600ms;
        /* animation: growUp 700ms ease-in-out forwards;
        transform-origin: top center; */
    }

    .ru > .selector-front > div.selector-stuff {
        color: rgba(0, 0, 0, 0);
        font-size: 2px;
        transition: all 300ms;
        visibility: hidden;
    }

    /* @keyframes growDown {
    }

    @keyframes growUp {
    } */
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');