.header {
    background-color: yellow;
    width: 100%;
    height: 20px;
}

@media screen and (max-width: 394px) {
    .header {
        background-color: black;
        width: 100%;
        height: 60px;
    }
}