.front {
    background: transparent;
}

h1, h2, h3, p {
    margin: 0px;
    font-family: 'Fredoka', sans-serif;
}

h2 {
    font-size: 27px;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@font-face {
    font-family: "VT323";
    src:  url("../public/font/google/vt323/VT323-Regular.ttf") format("woff2")
}
